.rspec
zeus.json
.env
.bundle
log
log/*.log
tmp/
test/
jenkins/
.sass-cache/
.rvmrc*
*~
.DS_Store
Procfile-dev
Procfile-test
Procfile-deps
config/database.yml
*.sublime-*
app/assets/stylesheets/config.rb
app/assets/stylesheets/*/config.rb
