<div class="row prepend-4">
  <div class="large-12 columns">
    <h2>Explore</h4>
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <div class="append-1">Topics</div>
    <div class="topic-pills">
      <div class="topic-pill">JavaScript</div>
      <div class="topic-pill">Ruby</div>
      <div class="topic-pill">Backbone.js</div>
    </div>

    <div class="prepend-2 append-1">Sort by</div>
    <select>
      <option>When they need help</option>
    </select>
  </div>

  <div class="large-9 columns">
    <div class="needs-list">
      <div class="need-row">
        <div class="need-row-header">
          <span class="right">
            <a class="button tiny dropdown" data-dropdown="i-can-help">
              I can help
            </a>
            <ul id="i-can-help" class="f-dropdown" data-dropdown-content>
              <li><a href="#">This is a link</a></li>
              <li><a href="#">This is another</a></li>
              <li><a href="#">Yet another</a></li>
            </ul>
          </span>
          <p><img src="http://placehold.it/24x24" /> Pamela Cartee</p>
        </div>
        <div class="need-row-body">
          <div class="large-4 columns">
            <dl>
              <dt>Topics</dt>
              <dd>backbone.js</dd>
              <dd>require.js</dd>
              <dd>yeoman</dd>
            </dl>
          </div>
          <div class="large-4 columns">
            <dl>
              <dt>When</dt>
              <dd><i class="icon-refresh"></i> Any time</dd>
            </dl>
          </div>
          <div class="large-4 columns">
            <dl>
              <dt>Description</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, neque, recusandae, autem similique quibusdam ducimus aliquam ab sunt iure voluptatibus.</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
