<div class="row prepend-4">
  <h2>My Sessions</h4>
</div>

<div class="needs-list">
  <div class="need-row">
    <div class="need-row-header">
      <span class="right">
        <a class="button tiny">Edit</a>
        <a class="button tiny">Close</a>
      </span>
      <p>#1000 - Sat, Apr 20, 2013 at 6:00pm</p>
    </div>
    <div class="need-row-body">
      <div class="large-4 columns">
        <dl>
          <dt>Topics</dt>
          <dd>backbone.js</dd>
          <dd>require.js</dd>
          <dd>yeoman</dd>
        </dl>
      </div>
      <div class="large-4 columns">
        <dl>
          <dt>When</dt>
          <dd><i class="icon-refresh"></i> Any time</dd>
        </dl>
      </div>
      <div class="large-4 columns">
        <dl>
          <dt>Related sessions</dt>
          <dd>#1000 with Ronnie Harrison</dd>
          <dd>#1005 with Addy Osmani</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
