<div class="row prepend-4">
  <div class="large-12 columns">

    <h3 class="search-heading text-center">Show me people interested in</h3>
    <div class="pills text-center">
      <span class="label secondary">JavaScript</span>
    </div>

    <h4 class="search-subheading text-center">that are located in</h4>
    <div class="pills text-center">
      <span class="label secondary">Toronto</span>
      <span class="label secondary">Internetz</span>
    </div>

  </div>
</div>

<div class="search-results-container prepend-4">
</div>

<% content_for :javascripts do %>
  <script id="search-result" type="text/x-handlebars-template" charset="utf-8">
    {{#each users}}
      <div class="search-result">
        <div class="large-1 columns">
          <img src="http://placehold.it/48x48" />
        </div>
        <div class="large-8 columns">
          <div class="name">
            <a class="js-open-user-modal">{{name}}</a>
          </div>
          <div class="pills">
            {{#each topics}}
            <span class="label secondary">{{this}}</span>
            {{/each}}
          </div>
          <div class="location">{{location}}</div>
        </div>
        <div class="large-2 columns">
          <a class="button small">Request to Pair</a>
        </div>
        <div class="large-1 columns">
          <i class="icon-star-empty"></i>
        </div>
      </div>
    {{/each}}
  </script>

  <div class="large-modal-backdrop user-modal">
    <div class="large-modal">
      <div class="row append-2">
        <div class="large-1 columns">
          <a class="user-prev">
            <i class="icon-circle-arrow-left"></i>
          </a>
        </div>

        <div class="large-2 columns text-right">
          <a class="user-next">
            <i class="icon-circle-arrow-right"></i>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <img src="https://i2.wp.com/a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-user-420.png?ssl=1" />
          <h2>Ronnie Harrison</h2>
          <h3>ronnieharrison</h3>
          <a class="button large">Request to Pair</a>
          <ul class="user-stats">
            <li class="user-stat"><i class="icon-map-marker"></i> Toronto, Canada</li>
            <li class="user-stat"><i class="icon-envelope-alt"></i> <a>me@ronnieharrison.com</a></li>
            <li class="user-stat"><i class="icon-link"></i> <a>http://ronnieharrison.com</a></li>
            <li class="user-stat"><i class="icon-circle icon-online-now"></i> Online Now</li>
            <li class="user-stat"><i class="icon-github"></i> Active April 12, 2013</li>
            <li class="user-stat"><i class="icon-twitter"></i> <a>@ronnieharrison</a></li>
          </ul>
        </div>

        <div class="large-8 columns">
          <h4>Topics</h4>
          <div class="pills">
            <span class="label secondary">JavaScript</span>
            <span class="label secondary">jQuery</span>
            <span class="label secondary">backbone</span>
            <span class="label secondary">coffeescript</span>
            <span class="label secondary">frontend development</span>
          </div>

          <h4 class="prepend-2">Pairing Sessions</h4>
          <ul>
            <li>Paired with <a>Juan Williams</a> on Fri, Apr 12, 2013 on <a>jQuery</a>, <a>Modernizr</a></li>
            <li>Paired with <a>Richard Truab</a> on Thurs, Apr 11, 2013 on <a>backbone</a></li>
            <li>Paired with <a>Rose Millard</a> on Wed, Apr 10, 2013 on <a>backbone-relational</a></li>
          </ul>

          <h4 class="prepend-2">Starred Repos</h4>
          <ul class="repo-list">
            <li class="repo-list-item">
              <img src="https://secure.gravatar.com/avatar/1b0604f802984b9839e95062be961833?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png" height="30" width="30" class="repo-image" />
              <a class="repo-name">ember-extension</a>
              <span class="label secondary">Mutual</span>
            </li>
            <li class="repo-list-item">
              <img src="https://secure.gravatar.com/avatar/5ff75e8ac3b88b52c192dbbfa98fcee7?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png" height="30" width="30" class="repo-image" />
              <a class="repo-name">PhantomCSS</a>
              <span class="label secondary">Mutual</span>
            </li>
            <li class="repo-list-item">
              <img src="https://secure.gravatar.com/avatar/d36a92237c75c5337c17b60d90686bf9?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="30" width="30" class="repo-image" />
              <a class="repo-name">generator-mobile-boilerplate</a>
            </li>
            <li class="repo-list-item">
              <img src="https://secure.gravatar.com/avatar/ba13c00b2032c0eea1e2e5bf2725a80e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="30" width="30" class="repo-image" />
              <a class="repo-name">Backbone.cachingSync</a>
            </li>
            <li class="repo-list-item">
              <img src="https://secure.gravatar.com/avatar/9e7984fbcbe510c580d0433a98a2767e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="30" width="30" class="repo-image" />
              <a class="repo-name">ember_inspector</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
