<div class="row prepend-4">
  <div class="large-12 columns">

    <h3 class="search-heading text-center">Show me people interested in</h3>
    <div class="pills text-center">
      <span class="label secondary">JavaScript</span>
    </div>

    <h4 class="search-subheading text-center">that are located in</h4>
    <div class="pills text-center">
      <span class="label secondary">Toronto</span>
      <span class="label secondary">Internetz</span>
    </div>

  </div>
</div>

<div class="search-results-container prepend-4">
</div>

<% content_for :javascripts do %>
  <script id="search-result" type="text/x-handlebars-template" charset="utf-8">
    {{#each users}}
      <div class="search-result">
        <div class="large-1 columns">
          <img src="http://placehold.it/48x48" />
        </div>
        <div class="large-8 columns">
          <div class="name">{{name}}</div>
          <div class="pills">
            {{#each topics}}
            <span class="label secondary">{{this}}</span>
            {{/each}}
          </div>
          <div class="location">{{location}}</div>
        </div>
        <div class="large-2 columns">
          <a class="button small">Request to Pair</a>
        </div>
        <div class="large-1 columns">
          <i class="icon-star-empty"></i>
        </div>
      </div>
    {{/each}}
  </script>
<% end %>
