<h2 class="prepend-4 text-center">You're almost done...</h2>

<div class="row">
  <div class="large-3 columns push-3">
    <%= image_tag current_user.dp, height: 211, width: 211 %>
    <a class="register-change-photo button secondary small">Change photo</a>
  </div>

  <div class="large-4 columns pull-2">
    <input type="text" value="<%= current_user.name %>" />
    <input type="text" value="<%= current_user.email %>" />
    <%= select_tag 'timezone', time_zone_options_for_select(ActiveSupport::TimeZone.us_zones), class: 'large-12 js-select2' %>

    <p class="prepend-2">What topics are you fairly good at?</p>
    <input name="topics" type="text" class="large-12 js-select2-tokens" />

    <input type="submit" class="button prepend-2" value="Next step &rarr;">
  </div>
</div>
