<footer>
  <p class="footer-content">
    Made by <%= mail_to 'rahilsondhi@gmail.com', 'Rahil Sondhi' %>
    (<%= link_to '@rahilsondhi', 'http://twitter.com/rahilsondhi' %>). I need help building this! 
  </p>
</footer>
