<div class="header-container row">
  <div class="header large-12 large-centered columns">
    <div class="row">
      <div class="large-4 columns">
        <h1 class="header-logo"><%= link_to 'HackerHero', root_path %></h1>
      </div>

      <% unless defined? logo_only %>
      <div class="large-8 columns">
        <ul class="header-nav">
          <li class="header-nav-item"><a href="/explore">Explore</a></li>
          <li class="header-nav-item"><a href="/topics">Topics</a></li>
          <li class="header-nav-item"><a href="/developers">Developers</a></li>
          <li class="header-nav-item"><a href="/post-a-need">Post a Need</a></li>
          <li class="header-nav-item"><a href="/about">About</a></li>
          <li class="header-nav-item"><a href="/auth/github">Login with GitHub</a></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
