<div class="row">
  <div class="large-12 columns">
    <h2>Designers, we need your help with open source!</h2>
    <p>
      Inspired by <a href="https://medium.com/words-about-design/e3adc220cfa7" target="_blank">Jon Gold's blog post</a>, I created this page to gather
      developers and designers in a common area for the benefit of open source.
    </p>

    <h3>Problem</h3>
    <p></p>
  </div>
</div>