<div class="row prepend-4">
  <div class="large-12 columns">
    <h2>Designers, we need your help with open source!</h2>
    <h3 class="subheader">We need more of you to contribute to open source projects.</h3>
    <p>
      Inspired by <a href="https://medium.com/words-about-design/e3adc220cfa7" target="_blank">Jon Gold's blog post</a>, I created this page to gather
      developers and designers in a common area for the benefit of open source.
    </p>

    <h3>Problem</h3>
    <blockquote>
      Assuming you fit the demographic I’m describing: a thankful, empathetic designer; a student & user of open source software; just not ready to write code for meaty projects you probably still have valuable skills you can contribute.
      <cite><a href="https://medium.com/words-about-design/e3adc220cfa7" target="_blank">Jon Gold</a></cite>
    </blockquote>
    <p>I believe one big reason why not enough designers contribute to open source is because it can be daunting to navigate the structure of a new open source project.</p>
    <ul class="square">
      <li>What features need the most help?</li>
      <li>Where should my code go?</li>
      <li>How do I run the project locally on my machine?</li>
    </ul>

    <h3>Solution</h3>
    <p>Use HackerHero to find and pair with a developer who can:</p>
    <ul class="square">
      <li>Help you navigate through the project</li>
      <li>Show you where you should put your HTML and CSS</li>
      <li>Get the project running locally on your machine</li>
    </ul>
    <p>The pairing can be done via <a href="http://www.screenhero.com" target="_blank">ScreenHero</a> or other similar (and free) tools.</p>

    <h3>Interested?</h3>
    <%= render 'shared/wufoo' %>

  </div>
</div>