<div class="landing-hero row">
  <h1 class="landing-heading text-center">Find a pair programming partner right now.</h1>
  <h2 class="landing-subheading subheader text-center">Take your skills to the next level.</h2>
  <p class="text-center"><a class="button large secondary">Login with GitHub</a></p>
</div>
