<div class="header-container row">
    <div class="header large-12 large-centered columns">
      <div class="row">
        <div class="large-6 columns">
          <h1 class="header-logo">HackerHero</h1>
        </div>
        <div class="large-6 columns">
          <ul class="header-nav">
            <li class="header-nav-item"><a>Search</a></li>
            <li class="header-nav-item"><a>Login with GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="landing-hero row">
  <h1 class="landing-heading text-center">Find a pair programming partner right now.</h1>
  <h2 class="landing-subheading text-center">Take your skills to the next level.</h2>
  <p class="text-center"><a class="button large secondary">Login with GitHub</a></p>
</div>
