  //
// Online now
//

.online-now {
  display: block;
  position: fixed;
  width: 205px;
  height: 100%;
  top: 0;
  right: 0;

  background-color: $onlineNowBgColor;
  padding: 10px;
}

.online-now-row {
  @include clearfix; 
  margin-bottom: 15px;
}

.online-now-row-left {
  img {
    float: left;
  }
}

.online-now-row-right {
  color: $onlineNowColor;
  font-size: 80%;
  overflow: hidden;

  .name,
  .pills-text {
    @include truncate(ellipsis, nowrap);
    margin-left: 10px;
  }

  i {
    float: right;
    position: relative;
    top: 4px;
  }
}

.icon-online-now {
  @extend .icon-circle;
  color: $green;
  font-size: 10px;
}