//
// Pairing
//

.request-to-pair-header {
  background-color: $secondary-color;
  padding: 10px 0;
}

//
// Sessions
//

.session-list {
  @include grid-column($columns: 4);
  max-width: 200px;
}

.session {
  @include grid-row(nest);
  margin-bottom: 20px;
}

.session-left {
  @include grid-column($columns: 4, $collapse: true);
}

.session-right {
  @include grid-column($columns: 8, $collapse: true);
}

//
// Message stream
//

.chat-message-list {
  @include grid-column($columns: 4);
}

.chat-message {
  @include grid-row;
}

.chat-message-left {
  @include grid-column($columns: 2, $collapse: true);
}

.chat-message-right {
  @include grid-column($columns: 10, $collapse: true);
}

.chat-message-header {
  @include grid-row(nest);
  font-size: 80%;
}

.chat-message-body {
  @include grid-row(nest);
}

//
// Need date types
//

.need-date-types {
  @extend .row;
}

.need-date-type {
  @extend .large-4;
  @extend .small-4;
  @extend .columns;
  background-color: darken($body-bg, 4%);
  border: 5px solid transparent;
  cursor: pointer;

  &.is-active {
    border-color: $primary-color;
  }

  .need-date-type-text {
    font-size: 1.2em;
    margin: 0;
    padding: 40px 0 20px 0;
    text-align: center; 
  }

  .need-date-type-icon {
    margin: 0;
    padding: 0 0 40px 0;
    text-align: center;
  }

  i {
    color: darken($body-font-color, 50%);
    font-size: 4em;
  }
}