//
// HackerHero Component variables
//

// Online now
$onlineNowWidth: 0; // 205px;

// Large modal
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;
$largeModalHPadding: 30px;
