//
// HackerHero Component variables
//

// Online now
$onlineNowWidth: 205px;

// Large modal
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;
$largeModalWidth: 960px;
$largeModalLeftWidth: 600px;
$largeModalRightWidth: 300px;
$largeModalHPadding: 30px;
$canvasLargeModalWidth: 780px;
$canvasLargeModalLeftWidth: 460px;
$canvasLargeModalRightWidth: 260px;
$canvasLargeModalHPadding: 30px;
