// Make sure the charset is set appropriately
@charset 'UTF-8';

// Normalize
@import 'normalize';

// Mixins
@import 'mixins';

// Required global settings and mixins for Foundation
@import 'foundation/foundation-global';

// Foundation overrides
@import 'foundation/foundation-overrides';

// Foundation Components
@import 'foundation/components/global';
@import 'foundation/components/grid';
@import 'foundation/components/visibility';
@import 'foundation/components/block-grid';
@import 'foundation/components/type';
@import 'foundation/components/buttons';
@import 'foundation/components/forms';
@import 'foundation/components/custom-forms';
@import 'foundation/components/button-groups';
@import 'foundation/components/dropdown-buttons';
@import 'foundation/components/split-buttons';
@import 'foundation/components/flex-video';
@import 'foundation/components/section';
@import 'foundation/components/top-bar';
@import 'foundation/components/orbit';
@import 'foundation/components/reveal';
@import 'foundation/components/joyride';
@import 'foundation/components/clearing';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/breadcrumbs';
@import 'foundation/components/keystrokes';
@import 'foundation/components/labels';
@import 'foundation/components/inline-lists';
@import 'foundation/components/pagination';
@import 'foundation/components/panels';
@import 'foundation/components/pricing-tables';
@import 'foundation/components/progress-bars';
@import 'foundation/components/side-nav';
@import 'foundation/components/sub-nav';
@import 'foundation/components/switch';
@import 'foundation/components/magellan';
@import 'foundation/components/tables';
@import 'foundation/components/thumbs';
@import 'foundation/components/tooltips';
@import 'foundation/components/dropdown';

//
// Application CSS
// Should be moved into separate files and then imported when they get too big
//

//
// Utilities
//

// Prepend classes
@for $i from 1 through 6 {
  .prepend-#{$i} { margin-top: 10px * $i; }
}

// Append classes
@for $i from 1 through 6 {
  .append-#{$i} { margin-bottom: 10px * $i; }
}

//
// Base
//

.full-width {
  max-width: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

//
// Header
//

.header-container {
  @extend .full-width;
  background-color: $purple;
}

.header {
  max-width: 62.5em;
}

.header-logo {

}

.header-nav {
  @extend .inline-list;
  float: right;
  position: relative;
  top: 30px;
}

.header-nav-item {
  font-size: 80%;
  text-transform: uppercase;

  a {
    color: #ccc;
  }
}

//
// Landing hero
//

.landing-hero {
  margin-top: 50px;
}

.landing-heading {
  margin-bottom: 0;
}

.landing-subheading {
  margin-top: 0;
}

//
// Search
//

.search-heading {
  margin-bottom: 10px;
}

.search-subheading {
  margin-bottom: 10px;
}

.search-results-container {

}

.search-result {
  @extend .row;
  @extend .append-3;
}

.search-result .name {
  margin-bottom: 5px;
}

.search-result .pills {
  margin-bottom: 5px;
}

.search-result .location {
  color: #999;
  font-size: 80%;
}
