//
// Base
//

@media #{$small} {
  // Shift the content over to make room for online-now
  .has-sidebar .global-content-container {
    padding-right: $onlineNowWidth;
  }
}

.full-width {
  max-width: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.disc,
ul.circle,
ul.square {
  margin-left: 20px;
}

body.noscroll {
  overflow: hidden;
}
