//
// Profiles
//

.user-prev,
.user-next {
  color: inherit;
  font-size: 40px;
}

.repo-list {

}

.repo-list-item {
  margin-bottom: 15px;
}

.repo-image {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

.repo-name {
  line-height: 30px;
  margin-right: 10px;
}
